*{
    font-family: 'Times New Roman', Times, serif;
}


/* navbar */


.navbar a{
    color:white;
}
.navbar .navbar-nav{
    margin-left: 300px;
    
}
.navbar .navbar-nav li{
    border: 3px solid green;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 2px 2px 6px rgba(2, 2, 2, 0.586);
    padding: 0 5px 0 5px; 
    margin-left: 60px;
    text-shadow: 1px 1px 1px forestgreen;
    background-color:black;
}
.navbar-nav li:hover{
    background-color: ghostwhite;
    
     
}
.logo-text .navbar-brand{
    
    font-size: 30px;
    
    border-bottom: 2px solid green;

}
.logo-text .navbar-brand:hover{
    color: white;
}

/* banner start */
.banner{
    height:600px; 
     background-image: url(Images/banner-img-1.jpg); 
     background-attachment: fixed; 
     background-size: cover;
}
.myText{
    
    margin-top: 160px;
    
}
.myText h1{
    color: white;
    margin-left: 30px;
    font-size: 50px;
    margin-right: 30px;
}
.myText p{
    color:rgb(181, 181, 181);
    margin-left: 30px;
    font-size: 25px;
    font-weight: 400;
    
}
.myText span{
    border-bottom: 2px solid green;
    color: white;
    text-shadow: 2px 2px 2px green;
    
}
.myText ul li a{
    color: white;

}
.myText ul li a:hover{
    color: green;
    box-shadow: 2px 2px 3px grey; 
}
.myText ul li {
    display: inline;
    font-size: 20px;
    padding: 5px;
    margin-left: 15px;    
}
.banner-about{
    background-image: url(Images/banner-img-1.jpg);
    background-size: cover;
    height:400px;
}
.myText-about h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}


.about h1 , .skills h1{
    color: brown;
}
.about p , .skills p{
    line-height: 35px;
    font-size: 20px;
    color: rgb(73, 73, 73);
}
.about span , .skills span{
    border-bottom: 2px solid green;
    color: black;
    font-weight: bold;
    
   
}
.about img{
    border-radius:50%;
}

.skill{
    border:10px solid black;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}
.skill:hover{
    background-color:aliceblue
}
.skill img{
    height:100px;
    width:100px;
}
.skill img:hover{
    transform: rotate(30deg);
    
}

.box .html-box{
    margin-top: 60px;
    
}


.box-2 .html-box{
    margin-top: 120px;
}
.html-box{
    height:180px;
   border-radius: 50%;
}
.html-box img{
    height:120px;
    width:120px;
}

.html-box p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}


.myproject .col{
  
  border:1px solid rgb(194, 249, 194);
  margin: 20px;
  border-radius: 10px;
  border-style: double;
  border-width: thick;
  
  color: rgb(11, 11, 11);
  
  
}

.konark-university{
    background: linear-gradient(30deg,rgba(0, 128, 0, 0.161),rgba(165, 42, 42, 0.785));
}

.myproject .col:hover{
    background-color:rgb(187, 185, 185);
    color:white;

    
}
.myproject .col p:hover{
    color: grey;
}
.footer{
    height:100px;
    background:#e9e8e6;
}
  




/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.contact{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(75deg,rgb(49, 99, 1),rgba(165, 42, 42, 0.744));
}



.contact1{
    margin: auto;
}
.contact-form {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background:rgb(49, 99, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

input[type="submit"]:hover {
    background-color:rgba(165, 42, 42, 0.797);
}
.map{
    border-radius: 30px;
}

